@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;900&display=swap'); 

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    color: #fff;
    font-family: Poppins, sans-serif;
    max-width: 1200px;
    margin: 0 auto;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}

img {
    width: 60px;
    position: absolute;
    left: auto;
    top: 50px;
    display: inline-block;
    padding: 5px;
    z-index: 1;
    transition: 3000ms;
    cursor: pointer;
    
}

img:hover {
    transform: rotate(180deg);
    transition: 3000ms;
}

form {
    text-align: center;
    border: 1px solid #B9FFF8;
    padding: 2rem 3.5rem;
    border-radius: 10px;
    display: inline-block;
    position: relative;
}

h1 {
    font-weight: bold;
    font-size: 3.5rem;
    line-height: 1.8;
    color: #0096FF;
}

p {
    font-weight: 100;
    margin-bottom: 30px;
}

.data {
    margin-bottom: 20px;
}

label {
    font-weight: 400;
}

input {
    margin-top: 8px;
    width: 250px;
    line-height: 1.3rem;
    border-radius: 10px;
    padding: 3px 6px;
    display: block;
    text-align: center;
}

.form__btn {
    display: block;
    margin: 35px auto 10px;
    width: 200px;
    background-color: #0096FF;
    color: #fff;
    padding: 3.5px 7px;
    font-size: 0.9rem;
    font-weight: bold;
    cursor: pointer;
    transition: 1000ms;
}

.form__btn:hover{
    background-color: #fff;
    color: #0096FF;
    transition: 1000ms;
}

a {
    color: #fff;
    font-size: 0.8rem;
}